@font-face {
    font-family: "Inter_Regular";
    src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Inter_Medium";
    src: url("/assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Merriweather-Black";
    src: url("/assets/fonts/Merriweather-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url("/assets/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("/assets/fonts/Merriweather-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Bold";
    src: url("/assets/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-SemiBold";
    src: url("/assets/fonts/Merriweather-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Medium";
    src: url("/assets/fonts/Merriweather-Medium.ttf") format("truetype");
}

