@use "../../style/font.scss" as *;
@use "../../style/variables.scss" as *;

.competencies {
  position: sticky;
  top: 0;
  z-index: 4;
  overflow: hidden;
  background-color: $cloud;
  border-top: 3px solid $primary-color;
  border-bottom: 3px solid $primary-color;
  padding-block: 5%;
  padding-inline: 8%;

  .heading {
    font-family: "JetBrainsMono_SemiBold";
    color: $primary-color-dark;
    font-size: 60px;
    margin-block: 2%;
  }

  .description {
    font-family: "Inter-Regular";
    color: $text-dark;
    font-size: 20px;
    margin-bottom: 4%;
  }

  .card {
    position: relative;
    aspect-ratio: 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    border: 1px solid $blue-light-two;
    border-radius: 16px;
    text-align: center;
    padding: 45px 20px 20px;
    margin-top: 65px;
    margin-bottom: 5%;

    .iconWrapper {
      position: absolute;
      top: -75px;
      left: 50%;
      transform: translateX(-50%);
      width: 290px;
      height: 290px;
      border-radius: 50%;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        height: 50%;
      }
    }

    .cardTitle {
      font-family: "Inter-Regular";
      font-weight: 700;
      color: $black;
      font-size: 25px;
      margin-bottom: 20px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;

      .tag {
        font-family: "JetBrainsMono_Regular";
        font-size: 11px;
        color: $text-dark;
        background-color: $cloud;
        border: 1px solid $blue-light-two;
        border-radius: 6px;
        padding: 4px 10px;
      }
    }
  }
}
