@use "../../style/font.scss" as *;
@use "../../style/variables.scss" as *;

#footer {
  position: relative;
  z-index: 10;
  background-color: $primary-color;
  padding-inline: 5%;
  justify-content: space-between;
  .logo {
    width: 150px;
    align-items: center;
  }
  #copyright {
    font-family: "JetBrainsMono_SemiBold";
    color: $white;
  }
  .icon {
    width: 25px;
    height: 25px;
  }

  @media (max-width: 768px) {
    justify-content: center !important;
    .icon {
      width: 20px;
      height: 20px;
    }
  }

  @media (min-width: 1600px) {
    padding-inline: max(5%, calc((100% - 1440px) / 2));
  }
}
