@font-face {
    font-family: "JetBrainsMono_Regular";
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
    font-family: "JetBrainsMono_Bold";
    src: url("../assets/fonts/JetBrainsMono-Bold.ttf");
}
@font-face {
    font-family: "JetBrainsMono_ExtraBold";
    src: url("../assets/fonts/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
    font-family: "JetBrainsMono_ExtraLight";
    src: url("../assets/fonts/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
    font-family: "JetBrainsMono_Italic";
    src: url("../assets/fonts/JetBrainsMono-Italic.ttf");
}
@font-face {
    font-family: "JetBrainsMono_Light";
    src: url("../assets/fonts/JetBrainsMono-Light.ttf");
}
@font-face {
    font-family: "JetBrainsMono_Medium";
    src: url("../assets/fonts/JetBrainsMono-Medium.ttf");
}

@font-face {
    font-family: "JetBrainsMono_SemiBold";
    src: url("../assets/fonts/JetBrainsMono-SemiBold.ttf");
}
@font-face {
    font-family: "JetBrainsMono_Thin";
    src: url("../assets/fonts/JetBrainsMono-Thin.ttf");
}