@use "../style/font.scss" as *;
@use "../style/variables.scss" as *;

#navbar {
  padding-inline: 4%;
  #logo img {
    width: 80%;
  }

  #navLink a{
    font-family: "JetBrainsMono_Light"; 
    font-size: large;
    color: $slate !important;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    &:active{
      color: $primary-color; 
      border-bottom: 2px $primary-color solid;
    }
    &:hover{
      color: $primary-color; 
      border-bottom: 2px $primary-color solid;
    }
  }

  

  #button{
    color: $white;
    background-color: $primary-color-light;
    font-family: "JetBrainsMono_Medium";
    font-size: larger;
    border-color: $primary-color-light !important;
    padding: 15px 55px;
  }
}
